__pycache__
**/__pycache__/
venv/
.venv/
*.pyc
.DS_Store
.idea/
*.log
*.smt2
.env
.local/
*.lic
gurobi.lic
.pytest_cache/
*.egg-info/
*.sqlite3
staticfiles/
media/
output/
shells
venv/
image_gen
logs
src/benchmark/
