__pycache__
**/__pycache__/
venv/
.venv/
*.pyc
.DS_Store
.idea/
*.log
*.smt2
.env
*.lic
gurobi.lic
.pytest_cache/
*.egg-info/
*.sqlite3
staticfiles/
media/
output/
shells
symbolic_pp
venv/
image_gen
logs
tool/benchmark/
